<header class="round">
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path, :id => "button1", :class => "round" %></li>
			<li><%= link_to "Characters", characters_path, :id => "button2", :class => "round" %></li>
			<li><%= link_to "Party Packages", packages_path, :id => "button3", :class => "round" %></li>
			<li><%= link_to "Costume Rentals", rentals_path, :id => "button4", :class => "round" %>
			<li><%= link_to "Contact", contact_path, :id => "button5", :class => "round" %></li>
			<li><%= link_to "About", about_path, :id => "button6", :class => "round" %></li>
		</ul>
	</nav>
</header>